<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="styles.css" type="text/css">
    <title>ToDo List</title>
  </head>
  <body class="bg-gray-800">
    <div class="py-4">
    	<h1 class="text-gray-50 text-4xl p-4 font-mono">ToDo List</h1>
	     <ul>
			<% for(var i=0;i<todoList.length;i++) {%>		
			<form action="/delete" method="POST" class="flex m-2">
				<li class="text-gray-50 flex-1 text-xl px-4 border-b-2 m-1"><%=todoList[i].name%></li><button class="flex-2 text-gray-50 bg-red-600 hover:bg-red-700 rounded p-4" type="submit">Done</button>
			</form>
			<%}%>
		</ul>
		<form action='/post' method='POST' class="m-5 flex">
				  <input type="text" id="todoList" placeholder="Add a task" name="item" class="text-xl mx-1 p-1">
					<button type="submit" class="bg-blue-600 hover:bg-blue-700 p-2 rounded"> Add </button>
			</div>
		</form>
    </div>
  </body>
</html>